<div class="container">
    <ng-container *ngIf="selecionado=='home'">
        <div class="titulo">
            <h1>Teste de QI</h1>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <button class="iniciar btn btn-primary btn-lg" (click)="iniciar()"><span>INICIAR TESTE</span></button>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <button class="iniciar btn btn-primary btn-lg" (click)="selecionado = 'fim'"><span>RANKING</span></button>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <button class="iniciar btn btn-primary btn-lg" (click)="selecionado = 'curvas'"><span>CURVAS</span></button>
            </div>
        </div>
        <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <button class="iniciar btn btn-primary btn-lg" (click)="selecionado = 'rotacao'"><span>ROTAÇÃO</span></button>
                </div>
            </div>
        <custom-canvas [idCanvas]="'3d'" [possuiPoligono]="false" [figura3d]="arvore3d" [grid]='false' [tamanho]="500" [tamanho2]="800"></custom-canvas>
    </ng-container>
    
    <ng-container *ngIf="selecionado=='jogo'">
        <nivel #nivel [nivel]="nivelSelecionado" [numero]="numeroDoNivel" (avancarNivel)="proximoNivel($event)"></nivel>
    </ng-container>

    <ng-container *ngIf="selecionado=='fim'">
        <ranking (voltar)="goHome($event)" [numero]="getRespostasCorretas()" [ranking]="ranking"></ranking>
    </ng-container>

    <ng-container *ngIf="selecionado=='curvas'">
        <curvas></curvas>
    </ng-container>

    <ng-container *ngIf="selecionado=='rotacao'">
            <rotacao></rotacao>
        </ng-container>


</div>