<h3>Coordenadas</h3>
<div class="row" style="display: block">
    <div class="input-coordenadas col-2">
        <label>X0</label>
        <input type="number" [(ngModel)]="vertices[0].x">
        <label>Y0</label>
        <input type="number" [(ngModel)]="vertices[0].y">
    </div>
    <div class="input-coordenadas col-2">
        <label>X1</label>
        <input type="number" [(ngModel)]="vertices[1].x">
        <label>Y1</label>
        <input type="number" [(ngModel)]="vertices[1].y">
    </div>
    <div class="input-coordenadas col-2">
        <label>X2</label>
        <input type="number" [(ngModel)]="vertices[2].x">
        <label>Y2</label>
        <input type="number" [(ngModel)]="vertices[2].y">
    </div>
    <div class="input-coordenadas col-2">
        <label>X3</label>
        <input type="number" [(ngModel)]="vertices[3].x">
        <label>Y3</label>
        <input type="number" [(ngModel)]="vertices[3].y">
    </div>
    <div class="input-coordenadas col-4">
        <button class="btn btn-primary btn-lg" (click)="desenharCurva()"><span>desenhar curva</span></button>
        <br/>
        <button class="btn btn-primary btn-lg" (click)="desenhar()"><span>animação</span></button>
    </div>
</div>
<div class="row">
    <custom-canvas #canvas 
                    [idCanvas]="'curvas'" 
                    [figura]="fig" 
                    [grid]="false" 
                    [tamanho]="800" 
                    [possuiPoligono]="false">
    </custom-canvas>
</div>